@import "../variables";

.shop-nav-container{
    height:78px;
    .nav-custom{
        ul{
            display: table-cell;
            li{
                display: table-cell;
                padding-right : 15px;
                a, i{
                    display: table-cell;
                    line-height: 48px;
                    vertical-align: middle;
                    font-size:1.2em;
                    font-weight:500;
                    text-decoration: none!important;
                }
                a.home-link,a.custom-link{ 
                    color:$main-txt-color!important;
                }
            }
        }
        .nav-link{
            a.custom-link-icon{
                i{
                    color:$sec-txt-color!important;
                }
            }
            
        }
        .hearder-custom-badge{
            position:relative;
            top:-10px;
            color:$txt-white-color;
            background-color:$main-color;
            border-radius:50%;
        }
    }
}