/*Bg clolors*/
$sec-btn-bg:#15a9cb;
$main-btn-bg:rgb(67, 184, 208);
$main-bg:rgb(67, 184, 208);
/*Bg clolors*/
$main-color:rgb(67, 184, 208);
$hover-color:#15a9cb;
/*Txt colors*/
$main-txt-color:#787878;